$white: #FFFFFF;
$black: #000000;
$none: #00000000;
$text: #262626;
$green: #25D366;
$very-light-gray: #00000029;
$medium-gray: #BBBBBB;
$default-blue: #1C69D4;
$gray: #666666;
$light-white: #E6E6E6;
$hover-gray: #707070;
$hover-blue: #0966AF;
$hover-green: #35AA61;
$hover-ddark-gray:#575757;
$hover-dark-blue: #0351BE;